<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <style>
  	html{background:#fff}
  	.page{
  		width:960px;
  		height:800px;
  		margin:0 auto;
	}
  </style>
</head>
<body>
<div class="page">
	<img src="/other/404.png">
</div>
<script src="{{config.THEME_ASSET_DIR}}/lib/seajs/sea.js" data-main="{{config.THEME_ASSET_DIR}}/main.js"></script>
</body>
</html>