<!-- topshow -->
<div class="m-topshow">
  <div class="m-banner">
    <div class="-box-fluid">
      <div class="m-crumb">
        <a href="#">首页</a>
        &gt;
        <a href="#">解决方案</a>
        &gt;
        <a href="#">数字校园概述</a>
        &gt;
        <span>正文标题</span>
      </div>
    </div>
  </div>
</div>
<!-- /topshow -->

<div class="i-article">
  <div class="-box-fluid">
    <div class="-fluid-cup">
      <div class="-main">
        <div class="-main-wrap">
          <div class="m-entry">
          	<h2>立即加盟</h2>
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inputEmail">单位</label>
                <div class="controls">
                  <input class="text" type="text" id="inputEmail">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">联系人</label>
                <div class="controls">
                  <input class="text" type="password" id="inputPassword">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">联系人</label>
                <div class="controls">
                  <input class="text" type="password" id="inputPassword">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">联系电话</label>
                <div class="controls">
                  <input class="text" type="password" id="inputPassword">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">电子邮箱</label>
                <div class="controls">
                  <input class="text" type="password" id="inputPassword">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">QQ / MSN</label>
                <div class="controls">
                  <input class="text" type="password" id="inputPassword">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">提交</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="-sub">
        {{> nav_vertical}}
      </div>
    </div><!-- /-fluid-cup -->
  </div><!-- /-box-fluid -->
</div><!-- /i-article -->

